<!-- 
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-sidenav></app-sidenav>
  <div class="editor">
    <form class="mt-5" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label>Titolo</label>
        <input class="form-control" placeholder="Titolo" formControlName = "title" required>
      </div>
      <div>
        <label>Descrizione</label>
        <input class="form-control" placeholder="Descrizione" formControlName = "description" required>
      </div>
      <div>
        <label>Link</label>
        <input class="form-control" placeholder="Link al materiale" formControlName = "link" required>
      </div>
     <button>Submit</button>
    </form>
  </div>  
</ion-content> -->


<ion-content>  
  <div class="wrapper">
    <app-sidenav></app-sidenav>
    <div class="main">
      <app-nav-backoffice></app-nav-backoffice>
      <main class="content">
        <h1 class="h3 mb-3"><strong>Aggiungi</strong> Materiale didattico</h1>
        <div class="editor">
          <form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
              <h3 class="h3 mb-3 mt-3">Titolo</h3>
              <input class="form-control" placeholder="Titolo" formControlName = "title" required>
              <div class="form-control-feedback text-danger"
													*ngIf="form.controls['title'].errors && (form.controls['title'].dirty || form.controls['title'].touched)">
												<p *ngIf="form.controls['title'].errors.required">Campo richiesto</p>
												<p *ngIf="form.controls['title'].errors.pattern">Carratteri speciali non ammessi</p>
											</div>
            </div>
            <div>
              <h3 class="h3 mb-3 mt-3">Descrizione</h3>
              <input class="form-control" placeholder="Descrizione" formControlName = "description" required>
              <div class="form-control-feedback text-danger"
													*ngIf="form.controls['description'].errors && (form.controls['description'].dirty || form.controls['description'].touched)">
												<p *ngIf="form.controls['description'].errors.required">Campo richiesto</p>
												<p *ngIf="form.controls['description'].errors.pattern">Carratteri speciali non ammessi</p>
							</div>
            </div>
            <div>
              <h3 class="h3 mb-3 mt-3">Autori</h3>
              <input class="form-control" placeholder="Autori" formControlName = "authors" required>
              <div class="form-control-feedback text-danger"
													*ngIf="form.controls['authors'].errors && (form.controls['authors'].dirty || form.controls['authors'].touched)">
												<p *ngIf="form.controls['authors'].errors.required">Campo richiesto</p>
												<p *ngIf="form.controls['authors'].errors.pattern">Carratteri speciali non ammessi</p>
							</div>
            </div>
            <div>
              <h3 class="h3 mb-3 mt-3">Tipo</h3>
              <input class="form-control" placeholder="Lezione, Tutorial, Extra" formControlName = "type" required>
              <div class="form-control-feedback text-danger"
													*ngIf="form.controls['type'].errors && (form.controls['type'].dirty || form.controls['type'].touched)">
												<p *ngIf="form.controls['type'].errors.required">Campo richiesto</p>
												<p *ngIf="form.controls['type'].errors.pattern">Carratteri speciali non ammessi</p>
							</div>
            </div>
            <div>
              <h3 class="h3 mb-3 mt-3">Data</h3>
              <input class="form-control" placeholder="Data" formControlName = "date" required>
              <div class="form-control-feedback text-danger"
													*ngIf="form.controls['date'].errors && (form.controls['date'].dirty || form.controls['date'].touched)">
												<p *ngIf="form.controls['date'].errors.required">Campo richiesto</p>
												<p *ngIf="form.controls['date'].errors.pattern">Carratteri speciali non ammessi</p>
							</div>
            </div>
            <div>
              <h3 class="h3 mb-3 mt-3">Link inglese</h3>
              <input class="form-control" placeholder="link_en" formControlName = "link_en">
              <div class="form-control-feedback text-danger"
													*ngIf="form.controls['link_en'].errors && (form.controls['link_en'].dirty || form.controls['link_en'].touched)">
												<!-- <p *ngIf="form.controls['link_en'].errors.required">Campo richiesto</p> -->
												<p *ngIf="form.controls['link_en'].errors.pattern">Carratteri speciali non ammessi</p>
							</div>
            </div>
            <div>
              <div>
                <h3 class="h3 mb-3 mt-3">Link</h3>
                <div>
                  <label class="fw-bold mx-3">Upload file da:  </label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="computer" (change)="onItemChange($event)" checked>
                    <label class="form-check-label" for="inlineRadio1">Computer</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="web" (change)="onItemChange($event)">
                    <label class="form-check-label" for="inlineRadio2">Link esterno</label>
                  </div>
                </div>
              </div>

              <div *ngIf="!web">
                <ion-card *ngIf="!this.ms.isImgUploading && !this.ms.isImgUploaded">
                  <ion-card-header>
                    <ion-card-title>Seleziona File</ion-card-title>
                  </ion-card-header>

                  <ion-button color="light">
                    <input type="file" class="upload" (change)="this.fileUpload($event)" />
                  </ion-button>
                </ion-card>

                <ion-card *ngIf="this.ms.isImgUploading && !this.ms.isImgUploaded">
                  <ion-card-header>
                    <ion-card-title>Files selezionato: <b>{{ this.ms.FileName }}</b></ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    <div *ngIf="this.ms.progressNum | async as percentage">
                      Caricamento: {{ percentage | number }}%
                      <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
                    </div>
                    <div *ngIf="this.ms.progressSnapshot | async as pSnapshot">
                      Dimensioni immagine: {{ pSnapshot.totalBytes | fileSize }} Caricati:
                      {{ pSnapshot.bytesTransferred | fileSize }}
                      <div *ngIf="this.ms.progressSnapshot && pSnapshot.bytesTransferred != pSnapshot.totalBytes">
                        <ion-button color="danger" fill="outline" size="small" (click)="this.ms.ngFireUploadTask.cancel()">Annulla</ion-button>

                      </div>
                    </div>
                  </ion-card-content>
                </ion-card>

                <ion-card *ngIf="!this.ms.isImgUploading && this.ms.isImgUploaded">
                  <ion-card-header>
                    <ion-card-title>
                      <b>{{ this.ms.FileName }}</b> Caricata
                    </ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    <div *ngIf="this.ms.fileUploadedPath | async as fileUrl">
                      <a [href]="fileUrl" rel="nofollow" target="_blank">Scarica</a>
                    </div>
                    Dimensione file: {{ this.ms.FileSize }}
                  </ion-card-content>
                </ion-card>
              </div>
              
              <div *ngIf="web">
                <input class="form-control" placeholder="Link al materiale" formControlName = "link" required>
                <div class="form-control-feedback text-danger"
                    *ngIf="form.controls['link'].errors && (form.controls['link'].dirty || form.controls['link'].touched)">
                  <p *ngIf="form.controls['link'].errors.pattern">Formato link non corretto</p>
                </div>
              </div>
             
            </div>
            <button class="btn btn-add float-end m-3" >Pubblica</button>
          </form>
        </div>  
      </main>
      <app-footer-backoffice></app-footer-backoffice>

    </div>
  </div>
</ion-content>



