.editor{
    margin-top: 70px;
}

.nav-news{
    background-color: black !important;
}
.btn-add{
    background-color: #242D3B;
    color: white;
    width: 150px;
    margin-right: 0px !important;
  }