
<ion-content>  
  <div class="wrapper">
    <app-sidenav></app-sidenav>
    <div class="main">
      <app-nav-backoffice></app-nav-backoffice>

  
      <main class="content">
        <div class="container-fluid p-0">
          <h1 class="h3 mb-3"><strong>Pannello gestione</strong> Materiale</h1>
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-add float-end m-3" routerLink="/add-material/new" >Nuovo materiale</button>
            </div>  
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                    <table class="table table-striped mb-0">
                      <thead style="background-color: #242D3B;">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Titolo</th>
                          <th scope="col">Tipo</th>
                          <th scope="col">Link</th>
                          <th class="text-center" scope="col">Azioni</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let material of materials | async | orderby: 'type': 'asc'; let i = index">
                          <th scope="row" class="align-middle">{{i.toString()}}</th>
                          <td>{{material.title}}</td>
                          <td>{{material.type}}</td>
                          <!-- <td>{{(material.description.length>6)? (material.description  | slice:0:20)+'..':(material.description )}}</td>  -->
                          <td><a href="{{material.link}}" rel="nofollow" target="_blank">{{(material.link.length>6)? (material.link  | slice:0:20)+'..':(material.link )}}</a></td>
                          <td class="text-center">
                            <div class="m-1">
                              <button class="btn" routerLink="/add-material/{{material.id}}"><ion-icon name="create-outline"></ion-icon>Modifica</button>
                            </div>
                            <div class="m-1">
                              <button class="btn" (click)="delete(material.id, material)"><ion-icon name="trash-outline" ></ion-icon>Elimina</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <app-footer-backoffice></app-footer-backoffice>

    </div>
  </div>
</ion-content>

