<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title m-b-0">Il materiale delle lezioni che saranno svolte durante il progetto G4GRETA saranno resi disponibili su questa sezione</h5>
          </div>
              <div class="table-responsive b-1">
                  <table class="table">
                      <thead class="thead-light header-table">
                          <tr>
                              <th scope="col">Titolo</th>
                              <th scope="col">Descrizione</th>
                              <th scope="col">Link</th>
                              
                          </tr>
                      </thead>
                      <tbody class="customtable">
                          <tr  class="my-5" *ngFor="let material of materials | async">
                                <td class="align-middle">
                                    {{material.title}}
                                </td>
                                <td class="align-middle">{{material.description}}</td>
                                <td class="align-middle justify-content-center text-center">
                                    <a type="button" class="btn btn-primary rounded-pill download-button p-2 mt-3" href="{{material.link}}">Scarica</a>
                                </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
      </div>
  </div>
</div>
