<!-- <div class="rate p-0" >
  <input type="radio" id="{{name}}star5" name="{{name}}star5" value="5" (click)="rate(5)">
  <label for="{{name}}star5" >5 stars</label>
  <input type="radio" id="{{name}}star4" name="{{name}}star4" value="4" (click)="rate(4)"  />
  <label for="{{name}}star4" >4 stars</label>
  <input type="radio" id="{{name}}star3" name="{{name}}star3" value="3" (click)="rate(3)" />
  <label for="{{name}}star3" >3 stars</label>
  <input type="radio" id="{{name}}star2" name="{{name}}star2" value="2" (click)="rate(2)" />
  <label for="{{name}}star2">2 stars</label>
  <input type="radio" id="{{name}}star1" name="{{name}}star1" value="1" (click)="rate(1)" />
  <label for="{{name}}star1" >1 star</label>
</div> -->


<div class="image-container">
  <input type="radio" name="{{name}}emotion" id="{{name}}poor" class="input-hidden" (click)="rate(1)"/>
  <label for="{{name}}poor">
    <img src="../../../assets/icon/sad.png" alt="I'm happy" />
  </label>

  <input type="radio" name="{{name}}emotion" id="{{name}}fair" class="input-hidden" (click)="rate(2)"/>
  <label for="{{name}}fair">
    <img src="../../../assets/icon/fair.png" alt="I'm happy" />
  </label>

  <input type="radio" name="{{name}}emotion" id="{{name}}average" class="input-hidden" (click)="rate(3)"/>
  <label for="{{name}}average" >
    <img src="../../../assets/icon/confused.png" alt="I'm happy" />
  </label>
  
  <input type="radio" name="{{name}}emotion" id="{{name}}happy" class="input-hidden" value="5" (click)="rate(4)"/>
  <label for="{{name}}happy" >
    <img src="../../../assets/icon/happy.png" alt="I'm happy" />
  </label>
  
  <input type="radio" name="{{name}}emotion" id="{{name}}excellent" class="input-hidden" value="5" (click)="rate(5)"/>
  <label for="{{name}}excellent" >
    <img src="../../../assets/icon/in-love.png" alt="I'm happy" />
  </label>

</div>





